/* ==UserStyle==
@name           Twitch Black
@description    I hate light
@namespace      gitlab.com/yrski/usercss
@author         Yrski
@version        0.5.0
@license        GPL-3.0-only
@homepageURL    https://gitlab.com/yrski/usercss
@updateURL      https://gitlab.com/yrski/usercss/raw/master/styles/twitch-black.user.css
@preprocessor   stylus

@advanced color color-background "Background" #000
@advanced color color-background-accent "Accent color" #1E1E1E
@advanced color color-text "Text color" #CCC
@advanced color color-link "Link color" #BF94FF
@advanced text ft "Font" "Helvetica"
==/UserStyle== */

@-moz-document domain("twitch.tv") {
    .tw-root--theme-dark {
    --user-color-background-accent: /*[[color-background-accent]]*/;
    --user-color-background: /*[[color-background]]*/;
    --user-color-link: /*[[color-link]]*/;
    --user-color-background-2: rgba(255,255,255,.05);
        
    
    --color-text-link: var(--user-color-link);
    --color-text-base: #ccc;
    --color-background-base: var(--user-color-background);
    --color-background-button-overlay-primary-default: var(--color-background-button-secondary-default);
    --color-background-button-overlay-primary-hover: var(--color-background-button-secondary-hover);
    --color-background-button-primary-default: var(--color-background-button-secondary-default);
    --color-background-button-primary-hover: var(--color-background-button-secondary-hover);
    --color-text-button-overlay-primary: var(--color-text-button-primary);
    --color-background-accent: var(--color-background-accent-alt-2);
    
    
    --color-background-accent-alt-2: var(--user-color-background-accent);
        
    --color-background-alt: var(--user-color-background-2) !important;
    --color-background-alt-2: var(--user-color-background-2) !important;
    }
    
    body {
        font-family: /*[[ft]]*/ !important;
        background-color: var(--user-color-background) !important;
    }

    /* left side */
    .tw-root--theme-dark .side-nav {
        background-color: var(--user-color-background-2) !important;
    }

    /* STREAM CHAT */
    .tw-root--theme-dark .channel-root__right-column {
        background-color: var(--user-color-background-2) !important;
    }

    /* channel header */
    .tw-root--theme-dark .channel-header {
        background-color: var(--user-color-background-2) !important;
    }
    
    /* Scrollbar fix on zoom out */
    .simplebar-scroll-content {
        padding-right: 16% !important;
    }
    
    h5 {
        user-select: none;
    }
}